/* =============
    Process
============= */
@use "../helpers";

#process {
    background-color: var(--white);
    padding: 100px 24px;

    p {
        color: var(--grey);
        font-weight: 600;
        line-height: helpers.rem-calc(28);
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-top: 40px;

        @include helpers.lg {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 60px;
        }

        li {
            img {
                margin-bottom: 16px;
            }

            h4 {
                color: var(--nightBlue);
                font-weight: 600;
                font-size: helpers.rem-calc(20);
                line-height: helpers.rem-calc(28);
                margin-bottom: 10px;
            }

            p {
                color: var(--grey);
                font-weight: 600;
                line-height: helpers.rem-calc(28);
            }
        }
    }
}
